<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
</head>

<body>
    <h1>Predict Your Score</h1>
    <p>Enter the number</p>
    <form method='post' action="/">
        <input type="number" name="hrs" placeholder="hours">
        <input type="submit">
    </form>

    <p>Your prediction :</p> 
    {{my_marks}}
 
</body>

</html>